/PSB_ex4/Solution2/ConsoleApp1/bin/
/PSB_ex4/Solution2/ConsoleApp1/obj/
/PSB_ex4/Solution2/.idea/
/PSB_ex3/PSB_ex3/bin/
/PSB_ex3/PSB_ex3/obj/
/PSB_ex3/.idea
/PSB_ex6/PSB_ex6/bin/
/PSB_ex6/PSB_ex6/obj/
/PSB_ex6/.idea