/Loans.Application/src/Loans.Host/obj/
/Loans.Application/src/Loans.Host/bin/
/Loans.Application/src/Loans.Api.Contracts/obj/
/Loans.Application/src/Loans.Api.Contracts/bin/
/Loans.Application/src/Loans.AppServices/obj/
/Loans.Application/src/Loans.AppServices/bin/
/Loans.Application/src/Loans.AppServices.Contracts/obj/
/Loans.Application/src/Loans.AppServices.Contracts/bin/
/Loans.Application/test/Loans.AppServices.Tests/obj/
/Loans.Application/test/Loans.AppServices.Tests/bin/
/Loans.Application/Loans.Application.sln.DotSettings.user
/Loans.Application/src/Loans.DataAccess/obj/
/Loans.Application/src/Loans.DataAccess/bin/
/Loans.Application/test/Loans.DataAccess.Tests/obj/
/Loans.Application/test/Loans.DataAccess.Tests/bin/
/Loans.Application/src/Loans.Migrations/obj/
/Loans.Application/src/Loans.Migrations/bin/
/Loans.Application/.idea
/Logs/
/Loans.Application/src/Loans.Host/Logs/
/Homework.Optimization.Benchmarks/.idea
/Homework.Optimization.Benchmarks/Homework.Optimization.Benchmarks/bin/
/Homework.Optimization.Benchmarks/Homework.Optimization.Benchmarks/obj/
