/TextStream.Application/src/TextStream.Host/obj/
/TextStream.Application/src/TextStream.Host/bin/
/TextStream.Application/src/TextStream.Api.Contracts/obj/
/TextStream.Application/src/TextStream.Api.Contracts/bin/
/TextStream.Application/src/TextStream.AppServices/obj/
/TextStream.Application/src/TextStream.AppServices/bin/
/TextStream.Application/src/TextStream.AppServices.Contracts/obj/
/TextStream.Application/src/TextStream.AppServices.Contracts/bin/
/TextStream.Application/TextStream.Application.sln.DotSettings.user
/TextStream.Application/src/TextStream.DataAccess/obj/
/TextStream.Application/src/TextStream.DataAccess/bin/
/TextStream.Application/src/TextStream.Migrations/obj/
/TextStream.Application/src/TextStream.Migrations/bin/
/TextStream.Application/.idea
/Commentators/Commentators/obj/
/Commentators/Commentators/bin/
/Commentators/.idea
/Viewers/Viewers/obj/
/Viewers/Viewers/bin/
/Viewers/.idea